a {
    color:darkolivegreen; text-decoration: none;
}
body{
    margin:0;
}
h1 {
    font-size:45px; text-align:center;
    border-bottom:1.5px solid rgb(0, 59, 100);
    padding: 25px;
    margin: 0;
}
#grid #first{
    border-right:1.5px solid rgb(0, 59, 100);
    width:100px;
    margin: 0;
    padding: 15px;
    padding-left: 33px;
    padding-top:20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
    border-bottom: 1.5px solid rgb(0, 59, 100);
}
#grid #article{
    padding-left: 24px;
}
@media(max-width:715px) {
    #grid{
    display: block;
    }
    #grid #first{
        border-right: none;
    }
    h1 {
    border-bottom: none;
    }
}